body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* ////////////////////////////////NAVBAR////////////////////////////// */

.navbar {
    padding: 1% 8%;
    width: 90vw;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 7px 116px rgba(0, 0, 0, 0.09);
}

.nav-item {
    margin: 5%;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
}

.navbar-brand img {
    margin-right: 10%;
}


.navbar button{padding: 0;
    border: none;
    background: none;

}
nav a{color: black;}




/* Hamburger buttonn*/

button:focus { outline: none; }

.animated-icon2{
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    border: 0px;
  
    }
    
   .animated-icon2 span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
 
    }
    

    .animated-icon2 span { 
    background: black;
    }
    
    
    .animated-icon2 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
    top: 10px;
    }
    
    .animated-icon2 span:nth-child(4) {
    top: 20px;
    }
    
    .animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
    }
    
    .animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    
    .animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
    
    .animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
    }


/*sliding menu*/


    @media(max-width:992px){
        .navbar .navbar-collapse.collapsing{ 
          height:auto !important;
z-index: 2;
        }
        .navbar .lateral-left{
          left:-100%; 
          animation: slide-out-left 1200ms forwards;
          z-index: 2;
        }
        .navbar .lateral-left.open{ 
          animation: slide-in-left 1200ms forwards;
        }
        
      
        .navbar .navbar-collapse{ 
          top:0px; bottom:0px; 
          position:fixed; 
          width:80%; width:calc(100% - 60px); 
          max-width:320px; 
          height:auto !important;
      
          
          background:#f8f8f8;
          padding:30px;
          
        }
        .navbar .lateral-left.open,
        .navbar .lateral-right.open{
          display:block !important;
          overflow-y:auto;
        }
      }
      
      @keyframes slide-in-left{ 
        0%		{ left:-100%; }
        100%	{ left:0%; }
      }
      @keyframes slide-out-left{
    from {left: 0%;}
    to {left: -100;}
      }
      
 
   
    


/* //////////////////////////////// Main section///////////////// */

#hero {
    width: 100vw;
    background: linear-gradient(189.62deg, #FFFFFF 29.28%, rgba(248, 248, 248, 0.51) 86.02%, #D8D8D8 123.55%);
}

.illustration {
    max-width: 95%;
}

.illustration-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: unset;
    background-image: url(../images/hero.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-info {
    padding: 10% 8% 10% 10%;
}

.hero-info p {
    width: 80%;
    font-size: 1.3rem;
    padding-left: 3%;
}

.hero-info a button {
    border-radius: 41.5px;
    width: 200px;
    height: 60px;
    margin: 3%;
    background-color: #28A649;
    border: none;
    font-size: 1.5rem;
}

.hero-info a button i {
    margin-left: 5%;
    position: relative;
    top: 1px;
}



h1 {
    font-weight: 700;
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 2rem;
    color: rgb(66, 66, 66);
}











.cta {
    position: absolute;
    margin: auto;
    padding: 17px 26px;
    transition: all 0.2s ease;
    margin-top :-1%;
    left: 22%;
    text-decoration: none;
    background-color: rgb(242,242,242,0.9);
  
    border-radius: 28px;
    height: 56px;
  }

  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    display: block;
    border-radius: 28px;
    background-color: #28A649;
    width: 100%;
    height: 56px;
    transition: all 0.3s ease;
  }
  

  

  .cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
    color: white;
  }
  
  .cta:hover span{
      color: #28A649;
  }
  
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: white;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  
  .cta:hover:before{
  width: 56px;
    background: #28A649;
    text-decoration: none;
    margin-left: 71%;
  }
  
  
  .cta:hover svg {
    transform: translateX(7px);text-decoration: none;
  }
  
  
  .cta:active {
    transform: scale(0.96);text-decoration: none;
  }


  .explore-button a:hover{

    text-decoration: none;
 
   
    
    }
   